$sidebar-width: 220px;
$sidebar-height: 100vh;
$sidebar-color: #201f24;

$sidebar-header-font-size: 30px;

$sidebar-link-active-bg-color: white;
$sidebar-link-border-active-color: #2c7a70;
$sidebar-link-active-text-color: black;
$sidebar-link-text-color: white;
