@import "./sidebar/sidebar.scss";
@import "./currency-report/currency-report.scss";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  color: white;
  background-color: #f8f5f0;
}

.layout {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.overview-content {
  color: black;
  background-color: #f8f5f0;
  margin-left: 250px;
  width: calc(100% - 250px);
  height: 100vh;
  flex-grow: 1;
  flex-direction: column;
  display: flex;
  gap: 20px;
  padding: 20px;
  box-sizing: border-box;
  overflow-y: auto;
}
