@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
.sidebar-item {
  margin: 5px 0;
  max-width: 200px;
}

.sidebar-link {
  display: flex;
  align-items: center;
  font-weight: 600;
  font-size: 14px;
  text-decoration: none;
  color: white;
  padding: 10px;
  border-radius: 0px 5px 5px 0px;
}

.sidebar-link.sidebar-active {
  background-color: white;
  border-left: 5px solid #2c7a70;
  color: black;
}

.sidebar-link:hover {
  background-color: white;
  color: black;
  border-left: 5px solid #2c7a70;
}

.fa-active {
  color: #2c7a70;
}

.sidebar-link i {
  margin-right: 10px;
  font-size: 1.2rem;
  transition: transform 0.3s ease;
}

.sidebar-link:hover i {
  transform: scale(1.2);
  color: #2c7a70;
}

.sidebar {
  width: 220px;
  background-color: #201f24;
  height: 100vh;
  border-radius: 0px 10px 10px 0px;
  transition: width 0.3s ease;
  display: flex;
  flex-direction: column;
  gap: 40px;
  overflow-y: auto;
  box-sizing: border-box;
  position: fixed;
  top: 0;
  left: 0;
}
.sidebar .sidebar-header {
  padding: 20px;
}
.sidebar .sidebar-header .sidebar-header-title {
  font-size: 30px;
  letter-spacing: -1.5px;
  font-weight: 800;
}
.sidebar .sidebar-menu ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.cr-exchange {
  width: 100%;
  color: #201f24;
  background-color: white;
  padding: 10px;
  box-sizing: border-box;
  border-radius: 10px;
}

.cr-exchange .cr-exchange-header {
  font-size: 30px;
  font-weight: 600;
  padding: 5px;
}

.cr-exchange .cr-exchange-table {
  width: 100%;
  border-collapse: collapse;
  font-family: Arial, sans-serif;
}

.cr-exchange .cr-exchange-table th,
.cr-exchange .cr-exchange-table td {
  text-align: left;
  padding: 25px 15px;
}

.cr-exchange .cr-exchange-table th {
  color: #6e6e6e;
  font-weight: 500;
  font-size: 14px;
  border-bottom: 1px solid #e0e0e0;
}

.cr-exchange .cr-exchange-table .cr-fa-dark {
  color: #6e6e6e;
}

.cr-exchange .cr-exchange-table .icon-column {
  width: auto;
  text-align: center;
  padding: 10px;
  color: #6e6e6e;
}

.cr-exchange .cr-exchange-table tr {
  border-bottom: 1px solid #e0e0e0;
}

.cr-exchange .cr-exchange-table tr:nth-child(even) {
  background-color: #f9f9f9;
}

.cr-exchange .cr-exchange-table tr:hover {
  background-color: #f1f1f1;
}

.cr-exchange .cr-exchange-table td {
  font-size: 14px;
  color: #333;
}

.chart-content {
  color: #201f24;
  background-color: white;
  box-sizing: border-box;
  border-radius: 10px;
  padding: 10px;
  width: 100%;
  min-height: 500px;
}

.news-content {
  width: 100%;
  max-width: 500px;
  color: #201f24;
  background-color: white;
  padding: 10px;
  box-sizing: border-box;
  border-radius: 10px;
}

.currency-content {
  color: #201f24;
  background-color: #f8f5f0;
  margin-left: 220px;
  width: calc(100% - 220px);
  height: 100vh;
  flex-grow: 1;
  flex-direction: column;
  display: flex;
  gap: 20px;
  padding: 20px;
  box-sizing: border-box;
  overflow-y: auto;
}

.info-display-pane {
  background-color: #ffffff;
  border: 20px;
  border-radius: 12px;
  margin: 10px;
  padding: 5px 5px 5px 20px;
  height: 60%;
  width: 20vw;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.info-display-pane #title {
  margin: 10px 0 3px 5px;
  color: #708080;
}
.info-display-pane #value {
  font-size: 30px;
  font-weight: bold;
  margin: 3px 0 3px 5px;
}

.info-display-pane:hover {
  background-color: #000000;
  color: #ffffff;
}
.info-display-pane:hover #title {
  color: white;
}

#user-list-pane {
  width: 50%;
  margin: 0 10px 10px 10px;
  height: 98%;
}

.converter-container {
  background-color: #f0f8ff;
  border: 1px solid #e0e0e0;
  border-radius: 10px;
  padding: 20px;
  width: 400px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}
.converter-container .amount-input {
  margin-bottom: 20px;
}
.converter-container .amount-input label {
  display: block;
  font-size: 16px;
  margin-bottom: 10px;
}
.converter-container .amount-input .amount-controls {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.converter-container .amount-input .amount-controls button {
  width: 40px;
  height: 40px;
  background-color: #ffffff;
  border: 1px solid #e0e0e0;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}
.converter-container .amount-input .amount-controls input {
  flex-grow: 1;
  height: 40px;
  margin: 0 10px;
  text-align: center;
  border: 1px solid #e0e0e0;
  border-radius: 5px;
}
.converter-container .currency-select {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}
.converter-container .currency-select .select-box {
  width: 45%;
}
.converter-container .currency-select .select-box label {
  display: block;
  font-size: 16px;
  margin-bottom: 5px;
}
.converter-container .currency-select .select-box select {
  width: 100%;
  height: 40px;
  border: 1px solid #e0e0e0;
  border-radius: 5px;
  background-color: #ffffff;
  padding: 0 10px;
}
.converter-container .currency-select .swap-icon {
  font-size: 20px;
  color: #333333;
}
.converter-container .conversion-result {
  background-color: #d4fecd;
  padding: 15px;
  border-radius: 5px;
  text-align: center;
}
.converter-container .conversion-result p {
  font-size: 16px;
  margin: 0;
  font-weight: bold;
  color: #333333;
}
.converter-container .conversion-result span {
  display: block;
  font-size: 14px;
  color: black;
  margin-top: 5px;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #f8f5f0;
  font-family: "Montserrat", sans-serif;
  color: white;
  background-color: #f8f5f0;
}

.layout {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.overview-content {
  color: black;
  background-color: #f8f5f0;
  margin-left: 250px;
  width: calc(100% - 250px);
  height: 100vh;
  flex-grow: 1;
  flex-direction: column;
  display: flex;
  gap: 20px;
  padding: 20px;
  box-sizing: border-box;
  overflow-y: auto;
}

/*# sourceMappingURL=index.css.map */
