@use "./partials/sidebarVar.scss" as sidebarVar;

.sidebar-item {
  margin: 5px 0;
  max-width: 200px;
}

.sidebar-link {
  display: flex;
  align-items: center;
  font-weight: 600;
  font-size: 14px;
  text-decoration: none;
  color: sidebarVar.$sidebar-link-text-color;
  padding: 10px;
  border-radius: 0px 5px 5px 0px;

  &.sidebar-active {
    background-color: sidebarVar.$sidebar-link-active-bg-color;
    border-left: 5px solid sidebarVar.$sidebar-link-border-active-color;
    color: sidebarVar.$sidebar-link-active-text-color;
  }
}

.sidebar-link:hover {
  background-color: sidebarVar.$sidebar-link-active-bg-color;
  color: sidebarVar.$sidebar-link-active-text-color;
  border-left: 5px solid sidebarVar.$sidebar-link-border-active-color;
}

.fa-active {
  color: sidebarVar.$sidebar-link-border-active-color;
}

.sidebar-link i {
  margin-right: 10px;
  font-size: 1.2rem;
  transition: transform 0.3s ease;
}

.sidebar-link:hover i {
  transform: scale(1.2);
  color: sidebarVar.$sidebar-link-border-active-color;
}
